@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
    @apply min-h-full;
    @apply min-w-full;
    font-family: "Nunito", sans-serif;
  }
}

@layer utilities {
  .text-ellipses-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @apply overflow-hidden;
    @apply text-ellipsis;
  }
  .text-ellipses-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    @apply overflow-hidden;
    @apply text-ellipsis;
  }
}
